//Switch - Pure CSS

//Variables
$switch-on-bg: $brand-success;
$switch-on-color: lighten($brand-success,20%);

$switch-off-bg: $brand-danger;
$switch-off-color: lighten($brand-danger,15%);

$switch-height: 34px;
$switch-font-size: 18px;
$switch-width:80px;

.switch {
  height: $switch-height;
  position: relative;
  width: $switch-width;
  display: inline-block;

  input {
    cursor: pointer;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 100;

    &:checked~label {
      background: $switch-on-bg;
      color: $switch-on-color;

      div {
        left: 40px;
      }
    }
  }

  label {
    background: $switch-off-bg;
    color: $switch-off-color;
    border-radius: 3px;
    display: block;
    height: 100%;
    position: relative;
    transition: all .15s ease;
    width: 100%;
    text-align: left;

    div {
      background: #fff;
      border-radius: 2px;
      display: block;
      height: $switch-height - 8;
      left: 4px;
      position: absolute;
      top: 4px;
      transition: all .15s ease;
      width: 36px;
      z-index: 3;

      &:before {
        background: #d3d3d3;
        bottom: 0;
        box-shadow: -6px 0 0 0 #d3d3d3,
                     6px 0 0 0 #d3d3d3;
        content: '';
        display: block;
        height: 15px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        transition: all .15s ease;
        width: 3px;
      }
    }
  }

  .fa-ok, .fa-check {
    font-size: $switch-font-size;
    left: 12px;
    position: relative;
    top: 8px;
    z-index: 2;
  }

  .fa-remove {
    font-size: $switch-font-size;
    left: 31px;
    position: relative;
    top: 8px;
    z-index: 2;
  }
}
